<div class="">
    <table>
        <th>
            <button>
                First Name
            </button>
        </th>
        <th>
            <button>
                Last Name
            </button>
        </th>
        <th>
            <button>
                Age
            </button>
        </th>
        <th>
            <button>
                Preferred Color
            </button>
        </th>
        <tr *ngFor="let entry of entries">
            <td>
                {{ entry.first_name }}
            </td>
            <td>
                {{ entry.last_name }}
            </td>
            <td>
                {{ entry.age }}
            </td>
            <td style="color:{{ entry.color }}">
                {{ entry.color }}
            </td>
        </tr>

    </table>

<p>
    <button (click)="openForm()">
        Add New Entry
    </button>
</p>

<h4>
    Favorite Color By Age Group
</h4>
<table *ngIf="color_map.length >= 1">
    <th>
        Age Group
    </th>
    <th>
        Favorite Color
    </th>
    <tr *ngFor="let color of color_map">
        <td>
            {{ color.ageGroup }}
        </td>
        <td style="color: {{ color.fave_color }}">
            {{ color.color }}
        </td>
    </tr>
</table>

</div>
